/**
 * @huntbao
 * */
body {
    font: 14px/1.3 "微软雅黑";
}

.m-note {
    position: absolute;
    width: 200px;
    height: 300px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
    padding: 10px;
    background-color: rgb(255, 240, 70);
}

.m-note .u-close {
    position: absolute;
    top: -15px;
    left: -15px;
    background: url(close.png) no-repeat;
    width: 30px;
    height: 30px;
    display: none;
}

.m-note:hover .u-close {
    display: block;
}

.m-note .u-editor {
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 30px;
    left: 10px;
    outline: none;
    overflow: auto;
}

.m-note .u-timestamp {
    position: absolute;
    right:0;
    bottom:0;
    left:0;
    height: 30px;
    line-height: 30px;
    background-color: #db0;
    padding: 0 0 0 10px;
    font-size: 12px;
    color: #fff;
}
